<!doctype html>
<html>
<head lang="es">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} NETIC {% endblock %}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css") }}" >
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/font-awesome.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/AdminLTE.min.css") }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
    -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/skins/skin-red.min.css")}}">

    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/all.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/css/styles.css")}}">

    {% block styles %}
        <!-- additional styles for each page here -->
    {% endblock %}
</head>
<body class="hold-transition skin-netic sidebar-mini">
{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Default:showNavbar',{"mainRequest":app.request})) }}
        {{ render(url('admin_sidebar')) }}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header %}
                   <!-- <div class="box box-primary box-solid">
                        <div class="box-header">
                            <h3> <i class="fa fa-bullhorn fa-lg"></i> {{ 'Resumen' | trans }} </h3>
                        </div>
                            <div class="box-body">
                                {{ include('AdminBundle:Default/panes:overview_pane.html.twig') }}
                            </div>
                    </div> -->
                <div class="container" ng-app="BackstageApp">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs sub-nav limit-container">
                                <li role="presentation" class="active"><a href="#overview" data-toggle="tab">Resumen</a></li>
                                <li role="presentation"><a href="#settings" data-toggle="tab">Configuración</a></li>
                                <li role="presentation"><a href="#messages" data-toggle="tab">Mensajes</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="tab-content">
                                {{ include("AdminBundle:Default/panes:overview_pane.html.twig") }}
                                {{ include("AdminBundle:Default/panes:settings_pane.html.twig") }}
                                {{ include("AdminBundle:Default/panes:messages_pane.html.twig") }}
                            </div>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </section>
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        {{ include("default/components/footer.html.twig") }}
    </div>
{% endblock %}
<!-- ./wrapper -->
<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js")}}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset("assets/vendor/AdminLTE/bootstrap/js/bootstrap.min.js")  }}"></script>
<!--iCheck -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/icheck.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.full.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.es.js") }}"></script>

<script src="{{ asset("assets/vendor/bootbox.js/bootbox.js") }}"></script>
<script src="{{ asset("assets/vendor/jquery-simulate/jquery.simulate.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>

<script src="{{ asset('assets/vendor/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js')}}" ></script>

<!-- AdminLTE App -->
<script src="{{ asset("assets/js/app.js") }}"></script>

<script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/vendor/colorpicker/jquery.colorpicker.js') }}"></script>
<script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>

<script>
    $(document).ready(function(){
        $(".colorpicker").colorpicker();
    });
</script>

{% block scripts %}
    <!-- extra scrips per page -->
{% endblock %}
<!-- Optionally, you can add Slimscroll and FastClick plugins.
Both of these plugins are recommended to enhance the
user experience. Slimscroll is required when using the
fixed layout. -->
</body>
</html>

