
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/backstage">
                    <i class="icon ion-home" style="font-size: 20px; vertical-align: sub"></i>
                    <span>{{ 'home' | trans }}</span>
                </a>
            </li>
            <li class="header">{{ 'management' | trans }}</li>
            <!-- Optionally, you can add icons to the links -->
            <li><a href="{{ path("lexik_translation_overview")}}"><i class="fa fa cubes"></i>
                    <span>{{ 'translate' | trans }}</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>
            <li><a href="{{ path("lexik_monolog_browser_index")}}"><i class="fa fa cubes"></i>
                    <span>{{ 'log' | trans }}</span>
                    <span class="pull-right-container"></span>
                </a>
            </li>        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
