<!doctype html>
<html>
<head lang="es">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} NETIC {% endblock %}</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/bootstrap/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.css") }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/font-awesome/css/font-awesome.min.css") }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/AdminLTE.min.css") }}">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect.
    -->


    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/dist/css/skins/skin-red.min.css") }}">

    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/all.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/datepicker3.css") }}">


    <link rel="stylesheet" href="{{ asset("assets/css/styles.css") }}">


    <link rel="manifest" href="{{ asset("manifest.json") }}">

    {% block styles %}
        <!-- additional styles for each page here -->
    {% endblock %}


    <script>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        var appUserId = {{ app.user.id }};
        var appUserDeparmentId = {{ app.user.department.id }};
        {% endif %}
    </script>


    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
        var OneSignal = window.OneSignal || [];

        // init one signal service worker
        OneSignal.push(["init", {
            allowLocalhostAsSecureOrigin: true,
            appId: "0a657cd1-06a7-4691-9abe-70ea6354a3a4",
            autoRegister: false,
            promptOptions: {
                /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
                /* actionMessage limited to 90 characters */
                actionMessage: "Acepta recibir notificaciones del programa?",
                /* acceptButtonText limited to 15 characters */
                acceptButtonText: "Acepto",
                /* cancelButtonText limited to 15 characters */
                cancelButtonText: "No Gracias"
            },
            safari_web_id: 'web.onesignal.auto.2ccd5ae7-3528-4a1e-96f6-138881299499'
        }]);

        // sets the tags for identifying the user with the
        // notifications
        // it is also possible to set the language

        var tagUser = function () {
            OneSignal.push(function () {

                OneSignal.getUserId().then(function (userId) {
                    console.log("OneSignal User ID:", userId);
                    // (Output) OneSignal User ID: 270a35cd-4dda-4b3f-b04e-41d7463a2316
                    OneSignal.push(['sendTags', {userId: appUserId, departmentId: appUserDeparmentId}]);
                });
                OneSignal.on("subscriptionChange", function (isSubscribed) {
                    if (isSubscribed) {
                        console.log("user subscribed");
                        OneSignal.push(['sendTags', {userId: appUserId, departmentId: appUserDeparmentId}]);

                    } else {
                        OneSignal.showHttpPrompt();
                    }
                });

            });
        };

        //check if push notifications are enabled
        OneSignal.push(function () {
            OneSignal.isPushNotificationsEnabled().then(function (isEnabled) {
                if (isEnabled) {

                    console.log("Push notifications are enabled!");
                    tagUser();
                } else {
                    console.log("Push notifications are not enabled yet.");
                    /// register for push notifications
                    OneSignal.push(function () {
                        OneSignal.registerForPushNotifications();
                    });
                }

            });
        });


    </script>
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>


</head>
<body class="hold-transition skin-netic sidebar-mini control-sidebar-open fixed">
{% block body %}
    <div class="wrapper">
        {{ render(controller('AppBundle:Default:showNavbar',{"mainRequest":app.request})) }}
        {{ render(controller('AppBundle:Default:sidebar')) }}
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                {% block content_header %}
                {% endblock %}
            </section>
            <!-- Main content -->
            <section class="content">
                {{ include("default/components/flash-messages.html.twig") }}
                <!-- Your Page Content Here -->
                {% block content %}

                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        {{ include("default/components/footer.html.twig") }}
        {{ render(controller('AppBundle:Default:controlSidebar',{"general_com_page": app.request.query.get('general_com_page'),
            "direct_com_page": app.request.query.get('direct_com_page'),
            "group_com_page": app.request.query.get('group_com_page')
        })) }}
    </div>
{% endblock %}
<!-- ./wrapper -->


<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery 2.2.3 -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js") }}"></script>
<!-- Bootstrap 3.3.6 -->
<script src="{{ asset("assets/vendor/AdminLTE/bootstrap/js/bootstrap.min.js") }}"></script>
<!--iCheck -->
<script src="{{ asset("assets/vendor/AdminLTE/plugins/iCheck/icheck.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/select2/select2.full.min.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/bootstrap-datepicker.js") }}"></script>
<script src="{{ asset("assets/vendor/AdminLTE/plugins/datepicker/locales/bootstrap-datepicker.es.js") }}"></script>

<script src="{{ asset("assets/vendor/bootbox.js/bootbox.js") }}"></script>
<script src="{{ asset("assets/vendor/jquery-simulate/jquery.simulate.js") }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/additional-methods.min.js"></script>

<script src="{{ asset('assets/vendor/AdminLTE/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('assets/vendor/angular/angular.min.js') }}"></script>

<!-- infinite scroll angular module -->
<script src="{{ asset('assets/vendor/ngInfiniteScroll/build/ng-infinite-scroll.min.js') }}"></script>

<!-- fosjsrouting -->

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!-- AdminLTE App -->
<script src="{{ asset("assets/js/app.js") }}"></script>
<script src="{{ asset("assets/js/sidebar.js") }}"></script>
<script src="{{ asset("assets/js/controllers/notices.ctrl.js") }}"></script>
<script src="{{ asset("assets/js/controllers/group_messages.ctrl.js") }}"></script>
<script src="{{ asset("assets/js/controllers/private_messages.ctrl.js") }}"></script>

{% block scripts %}
    <!-- extra scrips per page -->
{% endblock %}

</body>
</html>
