{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    <section class="col-xs-12">


        {% for item in comunications %}

            {{ include(":default/components:comunication-preview.html.twig") }}
        {% endfor %}


    </section>
</div>

{% endblock %}

{% block scripts %}

    <script src="{{ asset("assets/vendor/ckeditor/ckeditor.js") }}" type="application/javascript"></script>
    <script src="{{ asset("assets/vendor/ckeditor/plugins/autogrow/plugin.js") }}"
            type="application/javascript"></script>


    <script type="application/javascript">
        (function () {


            {#{% for item in comunications %}#}
            {#$("#comunication{{ item.id }}").text(  `{{ item.content | raw }}`);#}
            {#CKEDITOR.replace( 'comunication' + "{{ item.id }}",#}
            {#{toolbar: [],#}
            {#//                     readOnly:true,#}
            {#removePlugins : 'elementspath,contextmenu,tabletools',#}
            {#resize_enabled: false,#}
            {#autoGrow_onStartup:true,#}
            {#extraPlugins: 'autogrow'} );#}
            {##}
            {#CKEDITOR.instances["comunication{{ item.id }}"].insertHtml('{{ item.content | raw }}',function () {#}
            {#this.checkDirty();#}
            {#});#}

            {#{% endfor %}#}
        })();
</script>


{% endblock %}