{% extends 'base.html.twig' %}
{% block content %}
  <!-- comunicados -->
  <div class="box box-primary box-solid">
    <div class="box-header">
      <h3> <i class="fa fa-bullhorn fa-lg"></i> {{ 'notices' | trans }} </h3>
    </div>
    <div class="box-body">
      {% for item in comunicates %}
        {{ include(":default/components:comunication-preview.html.twig") }}
      {% endfor %}
    </div>
  </div>
  <!-- mensajes de grupo -->
  <div class="box box-primary box-solid">
    <div class="box-header">
      <h3> <i class="fa fa-group fa-lg"></i> {{ 'group_messages' | trans }}</h3>
    </div>
    <div class="box-body">
      {% for item in group_comunicates %}
        {{ include(":default/components:comunication-preview.html.twig") }}
      {% endfor %}
    </div>
  </div>
  <!-- mensajes directos -->
  <div class="box box-primary box-solid">
    <div class="box-header">
      <h3> <i class="fa  fa-comments-o fa-lg"></i> {{ 'private_messages' | trans }}</h3>
    </div>
    <div class="box-body">
      {% for item in direct_comunicates %}
        {{ include(":default/components:comunication-preview.html.twig") }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script type="application/javascript">
  $(document).on("removed-box", function (event, box, clickedElement) {
  console.log("removed", box);
  var url = $("#home-btn").attr("href");
  window.location = url;
  });
  </script>
{% endblock %}
