{% extends "FOSUserBundle::layout.html.twig" %}


{% block fos_user_content %}

<div class="container-fluid" style="background-color: #ecf0f5; height: 100vh">


    <div class="login-box center-block">


        <div class="login-logo">
            <img src="{{ asset("assets/img/logo.png") }}" alt="LOGO ">

        </div>

        <div class="login-box-body">
            <p class="login-box-msg">{{ 'enter_login_details' | trans }}</p>
            <form action="{{ path("fos_user_security_check") }}" method="post" novalidate>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />



                <div class="form-group has-feedback">
                    <label for="username">{{ 'username' | trans }}</label>


                    <div class="input-group">

                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>




                </div>
                <div class="form-group has-feedback">


                    <label for="password">{{ 'password' | trans }}</label>
                    <div class="input-group">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>

                        <input class="form-control" type="password" id="password" name="_password" required="required" />
                    </div>
                    {% if error %}

                       <ul class="form-errors-list">
                           <li>{% if error %}
                               {{ error.messageKey|trans(error.messageData, 'security') }}
                               {% endif %}</li>
                       </ul>
                    {% endif %}


                </div>
                <div class="form-group has-feedback">


                    <label for="language">{{ 'language' | trans }}</label>

                    <div class="input-group" style="width:100%">
                        <span class="input-group-addon" style="padding: 0 4px; width:40px">
                            <img src="{{asset('assets/img/flags/' ~ app.request.locale ~ '.svg')}}" class="img-flag" />
                        </span>
                        <select style="width:100%" name="" id="lang-select" class="form-control">
                          <option value="es"
                            {% if 'es' == app.request.locale %} selected="" {% endif %}
                          >{{'es' | trans}}</option>
                          <option
                          {% if 'gl' == app.request.locale %} selected="" {% endif %}
                          value="gl">{{'gl' | trans}}</option>
                          <option
                          {% if 'pt' == app.request.locale %} selected="" {% endif %}
                          value="pt">{{'pt' | trans}}</option>
                          <option
                          {% if 'en' == app.request.locale %} selected="" {% endif %}
                          value="en">{{'en' | trans}}</option>
                          <option
                          {% if 'fr' == app.request.locale %} selected="" {% endif %}
                          value="fr">{{'fr' | trans}}</option>
                        </select>
                    </div>



                </div>
                <div class="form-group">

                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'private_computer' | trans }}</label>

                </div>
                <div class="form-group">

                        <input class="btn btn-netic btn-block" type="submit" id="_submit" name="_submit" value="{{ 'login' | trans }}" />




                </div>
            </form>

        </div>
    </div>


</div>
{% endblock fos_user_content %}
{% block scripts %}
  {{ parent() }}
  <script type="application/javascript">
    (function(){

    function formatState (state) {
        if (!state.id) { return state.text; }
        var $state = $(
          '<span><img src="/assets/img/flags/' + state.element.value.toLowerCase() + '.svg" class="img-flag" /> ' + state.text + '</span>'
        );
      return $state;
    };
    var $langSelect = $("#lang-select");
    $langSelect.select2({templateResult: formatState,  width: 'resolve'}).on("select2:close",function(e){
        var lang =  e.target.value;
        var url = "/" + lang + "/login";
         // Routing.generate('fos_user_security_login',{_locale: lang});
        console.log(url);;
        location.replace(url);
    });

    })();
  </script>

{% endblock %}
