{% extends 'base.html.twig' %}


{% block content_header %}


    <div class="hbox align-bottom">

        <div>
            <h1 style="font-size: 18px">
                {{ 'list_employes' | trans }}

            </h1>
            {% if department is defined %}
                <h3><i class="fa fa-building"></i> {{ department.name }}</h3>
            {% endif %}

        </div>

        {% if department is defined %}
            <a style="margin-left: auto" class="btn btn-primary btn-flat"
               href="{{ path("workgroup_add_user",{"id":department.id}) }}">
                <i class="fa fa-user-plus"></i> {{ 'add_employe' | trans }}

            </a>
        {% else %}

            <a style="margin-left: auto" class="btn btn-primary btn-flat"
               href="{{ path("fos_user_registration_register") }}">
                <i class="fa fa-user-plus"></i> {{ 'add_employe' | trans }}

            </a>


        {% endif %}

    </div>

    {#<ol class="breadcrumb">#}
    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
    {#<li class="active">Here</li>#}
    {#</ol>#}




{% endblock %}


 {% block content %}
     {{ include(":default/components:flash-messages.html.twig") }}
     <div class="row">
         <section class="col-xs-12">

             <div class="box box-primary ">
                 <div class="box-header">
                     <h3 class="box-title"></h3>
                     <div class="box-tools">
                         <form action="">
                             <div class="input-group input-group-sm" style="width: 300px;">
                                 <input type="text" name="table_search" class="form-control pull-right"
                                        placeholder="{{ 'search_employe' | trans }}" value="{{ name }}">

                                 <div class="input-group-btn">
                                     <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                 </div>
                             </div>
                         </form>
                     </div>
                 </div>
                 <div class="box-body">
                     <table class="table table-bordered  table-striped dataTable">
                         <thead>
                         <tr role="row">
                             <th class="sorting">{{ 'num_employe' | trans }}</th>
                             <th>{{ 'user' | trans }}</th>
                             <th>{{ 'photo' | trans }}</th>
                             <th>{{ 'first_name' | trans }}</th>
                             <th>{{ 'last_name' | trans }}</th>
                             <th>{{ 'workgroup' | trans }}</th>
                             <th>{{ 'options' | trans }}</th>

                         </tr>
                         </thead>
                         <tbody>
                         {% for item in employees %}
                             <tr>
                                 <td>{{ item.employeeId }}</td>
                                 <td>{{ item.username }}</td>
                                 <td><img src="{{ asset(profiles_rel_directories ~ item.avatar) }}" alt=""
                                          class="img-rounded img-bordered-sm img-avatar-sm"></td>
                                 <td>

                                     {{ item.firstName }}

                                 </td>
                                 <td>{{ item.lastName }}</td>
                                 <td>{{ item.department.name }}</td>
                                 <td class="text-center">
                                     <a class="btn btn-flat btn-danger delete-action"
                                        href="{{ path("employees_delete",{'id':item.id}) }}"><i
                                                 class="fa fa-trash"></i></a>
                                     <a class="btn btn-flat btn-primary"
                                        href="{{ path("employees_edit",{'id':item.id}) }}"><i
                                                 class="fa fa-pencil"></i></a>
                                     <a class="btn btn-flat btn-success"
                                        href="{{ path("employee_show",{"id": item.id}) }}"><i
                                                 class="fa fa-eye"></i></a>
                                     {% if item.enabled %}
                                         <a class="btn btn-flat btn-warning disabled-action"
                                            href="{{ path("employee_disable",{"id":item.id}) }}"><i
                                                     class="fa fa-ban"></i></a>
                                     {% else %}

                                         <a class="btn btn-flat btn-warning"
                                            href="{{ path("employee_enable",{"id":item.id}) }}"><i
                                                     class="fa fa-handshake-o"></i></a>
                                     {% endif %}
                                 </td>
                             </tr>
                         {% endfor %}


                         </tbody>
                         <tfoot>
                         <tr>
                             <th>{{ 'num_employe' | trans }}</th>
                             <th>{{ 'user' | trans }}</th>
                             <th>{{ 'photo' | trans }}</th>
                             <th>{{ 'first_name' | trans }}</th>
                             <th>{{ 'last_name' | trans }}</th>
                             <th>{{ 'workgroup' | trans }}</th>
                             <th>{{ 'options' | trans }}</th>

                         </tr>
                         </tfoot>


                     </table>

                 </div>
                 <div class="box-footer clearfix">
                     {#<div class="pull-right">#}
                         {#{{ knp_pagination_render(employees) }}#}
                     {#</div>#}


                     {#<ul class="pagination pagination-sm no-margin pull-right">#}
                     {#<li><a href="#">«</a></li>#}
                     {#<li><a href="#">1</a></li>#}
                     {#<li><a href="#">2</a></li>#}
                     {#<li><a href="#">3</a></li>#}
                     {#<li><a href="#">»</a></li>#}
                     {#</ul>#}
                 </div>
             </div>

         </section>


     </div>

 {% endblock %}
{% block scripts %}
    {{ parent() }}


    <script src="{{ asset("assets/vendor/AdminLTE/plugins/datatables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js") }}"></script>


    <script type="application/javascript">

        var deleteAllowed = false;
        var disableAllowed = false;

        $(document).ready(function () {

            var options = {
                "language": {
                    "paginate": {
                        "last": "{{ 'last' | trans }}",
                        "previous": "<",
                        "next": ">",
                        "first": "{{ 'first' | trans }}"
                    },
                    "emptyTable": "{{ 'empty_table' | trans }}",
                    "lengthMenu": "{{ 'show' | trans }} _MENU_ {{ 'records' | trans }}",
                    "search": "{{ 'search_to_name' | trans }}",
                    "info": "{{ 'show_page' | trans }}  _PAGE_  {{ 'show_page' | trans }} _PAGES_"
                },
                select: true,
                "info": false,
                "bLengthChange": false,
                "bFilter": false,
                pageLength: 5,
                columns: [
                    {searchable: false},
                    {searchable: false},
                    {orderable: false},
                    {searchable: false},
                    {searchable: false},
                    {searchable: false},
                    {orderable: false}]
            };

            $(".dataTable").DataTable(options);

            $(".delete-action").on("click", function (event) {

                if (deleteAllowed == true) {
                    console.log("called again wit target", event.target);
//                    $(event.target).trigger("click");
                    $(event.target).simulate("click");
                    return true;
                }
                var deleteEvent = event;

                console.log(deleteEvent.target);
//                $(deleteEvent).stopPropagation();


                bootbox.confirm({
                    size: "small",
                    title: "{{ 'do_want_delete' | trans }}",
                    message: "{{ 'sure_want_delete_user' | trans }}",
                    buttons: {
                        confirm: {
                            label: "{{ 'yes' | trans }}",
                            className: 'btn-netic'
                        },
                        cancel: {
                            label: "{{ 'no' | trans }}",
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                        if (result === true) {
                            console.log(event.target);
                            deleteAllowed = true;
                            $(deleteEvent.target).trigger("click");
                        } else {
                            console.log("dimissed dialog");
                            deleteAllowed = false;
                        }
                    }
                });

                return false;


            });

            $(".disabled-action").on("click", function (event) {

                if (disableAllowed == true) {
                    console.log("called again");
                    $(event.target).simulate("click");
                    return true;
                }
                var disableEvent = event;
//                $(deleteEvent).stopPropagation();


                bootbox.confirm({
                    size: "small",
                    title: "{{ 'want_suspend' | trans }}",
                    message: "{{ 'want_suspend_user' | trans }}",
                    buttons: {
                        confirm: {
                            label: "{{ 'yes' | trans }}",
                            className: 'btn-netic'
                        },
                        cancel: {
                            label: "{{ 'no' | trans }}",
                            className: 'btn-default'
                        }
                    },
                    callback: function (result) { /* result is a boolean; true = OK, false = Cancel*/
                        if (result === true) {
                            console.log(event.target);
                            disableAllowed = true;
                            $(disableEvent.target).trigger("click");
                        } else {
                            console.log("dimissed dialog");
                            disableAllowed = false;
                        }
                    }
                    });

                return false;


            });

        });


    </script>
{% endblock %}

{% block styles %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset("assets/vendor/AdminLTE/plugins/datatables/dataTables.bootstrap.css") }}">

{% endblock %}
