<div class="tab-pane" id="settings">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default" ng-controller="SkinController as ctrl">
        <div class="panel-heading">
          <h3 class="panel-title">Tema de colores</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-12">
              <form class="form-horizontal" name="themeForm" ng-submit="ctrl.submit()"
                ng-init="ctrl.theme =  {themeColor: '{{get_setting('theme.color') }}' , themeComplementColor: '{{get_setting('theme.colorComplement') }}', themeSecondaryColor: '{{get_setting('theme.colorSecondary') }}' , themeMainSidebarColor: '{{ get_setting('theme.mainSidebarColor')}}' , themeControlSidebarColor: '{{ get_setting('theme.controlSidebarColor')}}', circleColorWhatever:'{{ get_setting('theme.circleColor')}}'}"
                >
                <div class="form-group">
                  <label for="theme-color" class="col-sm-6 control-label">Color Base</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input maxlength="6" class="form-control colorpicker" id="theme-color" placeholder="" ng-model="ctrl.theme.themeColor"
                      required
                      ng-minlength="6"
                      name="themec"
                      ng-pattern="ctrl.colorPattern"
                      >
                      <span class="input-group-addon " style="background-color:#[[ctrl.theme.themeColor]]; border-color:#[[ctrl.theme.themeColor]]"> </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="theme-color-complement" class="col-sm-6 control-label">Theme color complement</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input  maxlength="6" class="form-control  colorpicker" id="theme-color-complement" placeholder="" ng-model="ctrl.theme.themeComplementColor" required ng-minlength="6"
                      ng-pattern="ctrl.colorPattern"
                      >
                      <span class="input-group-addon" style="background-color:#[[ctrl.theme.themeComplementColor]]; border-color:#[[ctrl.theme.themeComplementColor]]"> </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="theme-color-secondary" class="col-sm-6 control-label">Títulos y Botones</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input  maxlength="6" class="form-control  colorpicker" id="theme-color-secondary" placeholder=""
                      ng-model="ctrl.theme.themeSecondaryColor" required ng-minlength="6"
                      ng-pattern="ctrl.colorPattern" >
                      <span class="input-group-addon" style="background-color:#[[ctrl.theme.themeSecondaryColor]]; border-color:#[[ctrl.theme.themeSecondaryColor]]"> </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="theme-main-sidebar-color" class="col-sm-6 control-label">Colores Lateral Izquierdo</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input  maxlength="6" class="form-control  colorpicker" id="theme-main-sidebar-color" placeholder=""
                      ng-model="ctrl.theme.themeMainSidebarColor" required ng-minlength="6"
                      ng-pattern="ctrl.colorPattern" >
                      <span class="input-group-addon" style="background-color:#[[ctrl.theme.themeMainSidebarColor]]; border-color:#[[ctrl.theme.themeMainSidebarColor]]"> </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="theme-control-sidebar-color" class="col-sm-6 control-label">Colores Lateral Derecho</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input  maxlength="6" class="form-control  colorpicker" id="theme-control-sidebar-color" placeholder=""
                              ng-model="ctrl.theme.themeControlSidebarColor" required ng-minlength="6"
                              ng-pattern="ctrl.colorPattern" >
                      <span class="input-group-addon" style="background-color:#[[ctrl.theme.themeControlSidebarColor]]; border-color:#[[ctrl.theme.themeControlSidebarColor]]"> </span>
                    </div>
                  </div>
                </div>
                <!-- field for controlling a tiny sidebar circle in a part of the page -->

                <div class="form-group">
                  <label for="theme-circle-color-whatever" class="col-sm-6 control-label">Field (poner en español como quieras que se llame)</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <span class="input-group-addon">#</span>
                      <input  maxlength="6" class="form-control  colorpicker" id="theme-circle-color-whatever" placeholder=""
                              ng-model="ctrl.theme.circleColorWhatever" required ng-minlength="6"
                              ng-pattern="ctrl.colorPattern" >
                      <span class="input-group-addon" style="background-color:#[[ctrl.theme.circleColorWhatever]]; border-color:#[[ctrl.theme.circleColorWhatever]]"> </span>
                    </div>
                  </div>
                </div>



                <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-6">
                    <input class="btn btn-primary pull-right" id="theme-color" type="submit" value="Actualizar"
                    ng-disabled="themeForm.$invalid"
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default" ng-controller="LogoController as ctrl">
        <div class="panel-heading">
          <h3 class="panel-title">Company logo</h3>
        </div>
        <div class="panel-body text-center logo-add-helper">
          <img src="{{ asset("assets/img/logo.png") }}" alt="" class="img img-responsive" id="logo-preview">
          <button class="camera-button" ng-click="ctrl.cameraClick()" ng-hide="ctrl.imageLoaded">
          <i class="fa fa-camera fa-2x"></i>
          <div ng-class="ctrl.getDropdownClass()">
            <div class="dropdown-caret">
              <div class="caret-inner"></div>
            </div>
            <ul>
              <li>
                Subir foto
                <input type="file" class="image-selector-hidden" accept="image/*" id="image-selector-input">
              </li>
              <li>Cancelar</li>
            </ul>
            </div> <!-- dropdown -->
            </button>
            <div class="upload-btn-wrapper">
              <button class="btn btn-primary upload-btn" ng-show="ctrl.imageLoaded" ng-click="ctrl.uploadImage()" ng-disabled="ctrl.imageUploading"> Aplicar </button>
              <div class="spinner spinner-small"  ng-show="ctrl.imageUploading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
