@import "colors";

.control-sidebar > .tab-content {
  padding-top: 2px;
}

.control-sidebar-heading {
  margin-top: 5px;
}

.skin-netic {

  .control-sidebar.control-sidebar-dark {
    background: $control-sidebar-color;
    .nav-tabs.control-sidebar-tabs > li > a {
      background: darken($control-sidebar-color, 10%);

    }

    .control-sidebar-menu>li>a:hover{
      background: darken($control-sidebar-color,10%);

    }
    .nav-tabs.control-sidebar-tabs > li.active > a,
    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:hover,
    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:focus,
    .control-sidebar-dark .nav-tabs.control-sidebar-tabs > li.active > a:active {
      background: $control-sidebar-color;
    }
   .nav-tabs.control-sidebar-tabs>li>a,
   .nav-tabs.control-sidebar-tabs>li>a:hover,
   .nav-tabs.control-sidebar-tabs>li>a:focus{
     border-left-color:  darken($control-sidebar-color, 10%);
     //border-bottom-color:  darken($control-sidebar-color, 10%);
   }
  }

}