{% if showOtherUsersIcon or (item == app.user.workgroup and showUsersIcon) %}
    <a data-toggle="tooltip" data-placement="top"
       title="{{ 'private_message_employee_s' | trans }}"
       href="{{ path("comunications_workgroup_users_create",{"groupid":item.id}) }}" >
        <i class="fa fa-user"></i>
    </a>
{% endif %}