<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        Develop by: <a href="http://groupnet.es" class="brand-link">GROUPNET</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2017 <a href="http://groupnet.es" class="brand-link">GROOUPNET - DEVELOP THE WEB SL</a></strong> All rights reserved.
</footer>