<h3 class="control-sidebar-heading">{{ 'permissions_posts' | trans }}</h3>
{{ form_start(form,{"action": path("save_settings") }) }}
    <div class="form-group">
        <label>
            {{ form_widget(form.employeeMessaging,{"attr":{'class':"minimal-red"}}) }}
            {{ 'between_employes' | trans }}
        </label>
        {# <small>
             {{ 'Permite a los Empleados enviar mensajes entre ellos' | trans }}   </small>#}
    </div>
    {# <div class="form-group">
        <label>
            {{ form_widget(form.adminMessaging,{"attr":{'class':"minimal-red"}}) }}
            {{ 'Mensajes a los Administradores' | trans }}
        </label>

        <small>
            {{ 'Permitir a todos los empleados enviar mensajes a los Administradores' | trans }}  </small>
    </div>#}
<div class="form-group">
    <label>
        {{ form_widget(form.bossMessaging,{"attr":{'class':"minimal-red"}}) }}
        {{ 'between_group_heads' | trans }}
    </label>

    {#<small>
        {{ 'Permite a los Jefes de Grupo enviar mensajes entre ellos' | trans }}  </small>#}
</div>
<div class="form-group">
    <label>
        {{ form_widget(form.managerToGroupMessaging,{"attr":{'class':"minimal-red"}}) }}
        {{ 'heads_group' | trans }}
    </label>

    {#<small>
        {{ 'Permite a los jefes de grupo enviar mensajes a su grupo' | trans }}  </small>#}
</div>
<div class="form-group">
    <label>
        {{ form_widget(form.managerDirectMessages,{"attr":{'class':"minimal-red"}}) }}
        {{ 'heads_individual_employees' | trans }}
    </label>

    {#<small>
        {{ 'Permite a los jefes de grupo enviar mensajes privados a sus empleados' | trans }}  </small>#}
</div>



    {#<div class="form-group">#}
    {#<label class="control-sidebar-subheading">#}
    {#Permitir Respuesta              <div class="pull-right">#}
    {#<div class="icheckbox_flat-red checked" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" id="respuesta" class="pull-right" checked="" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>#}
    {#</div>#}
    {#</label>#}

    {#<small>#}
    {#Permitir Respuesta a los Mensajes            </small>#}
    {#</div>#}
    {#<h3 class="control-sidebar-heading">Idioma</h3>#}
    {#<div class="form-group">#}
    {#<label class="control-sidebar-subheading">#}
    {#<select name="" id="" onchange="selec_lang(this.value)" class="form-control">#}
    {#<option value="">Seleccione el Idioma</option>#}
    {#<option value="es">Español</option>#}
    {#<option value="ga">Gallego</option>#}
    {#</select>#}
    {#</label>#}
    {#</div>#}
    <div class="form-group">
        {{ form_widget(form.save, {"attr":{"class": "btn btn-block btn-netic btn-flat"}}) }}

    </div>

    {{ form_end(form) }}
    <!-- /.form-group -->
