{% extends 'base.html.twig' %}
{% block content_header %}


    <div class="hbox align-base">

        <h1 style="font-size: 18px">
            {{ 'send_group_message' | trans }}
            {#<small>Optional description</small>#}
        </h1>

    </div>

    {#<ol class="breadcrumb">#}
    {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
    {#<li class="active">Here</li>#}
    {#</ol>#}




{% endblock %}


{% block content %}


    <div class="row">

        <div class="col-xs-12">
            <div class="box box-solid box-primary">
                <div class="box-header">


                    <h3 class="box-title"><i class="fa fa-send "></i> {{ 'write_message' | trans }}</h3>
                </div>
                {{ form_start(form) }}
                <div class="box-body">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="form-group has-feedback">
                                <label for="{{ form.title.vars.id }}">{{ "title" | trans }}</label>

                                {{ form_widget(form.title,{"attr":{ "class": "form-control","placeholder":"write_title_where" | trans}}) }}
                            </div>

                            <div class="form-group has-feedback">
                                <label>{{ "workgroup_destination" | trans }}:</label>
                                {{ form_widget(form.department,{"attr":{ "class": "form-control","placeholder":"write_title_where" | trans,"disabled":""}}) }}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.content.vars.id }}">{{ "post" | trans }}</label>
                                {{ form_widget(form.content,{"attr":{ "class": "form-control","placeholder":"post","rows":"10"}}) }}
                            </div>
                            <div class="form-group callout callout-warning">
                                    {{ form_widget(form.acceptsReplies,{"attr":{'class':"minimal"}}) }}
                                <label>{{ 'allow_reply' | trans }}</label>

                            </div>
                            <a href="#" class="btn btn-primary" id="add-attachment-btn">{{ 'attach_file' | trans }}</a>
                            <ul class="attachments-list"
                                data-prototype="{{ form_widget(form.attachments.vars.prototype,{'attr':{'style':"display:none"}}) | e('html_attr') }}">
                                {% for attachment in form.attachments %}

                                    <li>{{ attachment.filename }}</li>
                                {% endfor %}

                            </ul>
                            {% do form.attachments.setRendered %}

                        </div>
                    </div>


                </div> <!-- box body end -->

                <div class="box-footer clearfix">
                    {{ form_widget(form.save,{"attr":{ "class": "btn btn-flat btn-primary pull-right"}}) }}
                </div>


                {{ form_end(form) }}
            </div>


        </div>

    </div>


{% endblock %}


{% block scripts %}
    {{ parent() }}

    {{ include(':default/components:attach-script.html.twig') }}

{% endblock %}