{% extends 'base.html.twig' %}
{% block content_header %}
{% endblock %}

{% block content %}

    <div class="box box-widget">
    <div class="box-header with-border">

        <div class="user-block">
            <img class="img-circle" src="{{ asset(profiles_rel_directories ~item.author.avatar) }}"
                 alt="User Image">
            <span class="username"><a href="#">{{ item.author.firstName }} {{ item.author.lastName }}</a></span>
            <span class="description">  <i
                        class="fa fa-calendar"></i> {{ 'created_on' | trans }}: {{ item.date | date("d/m/Y H:i") }}</span>
        </div>
        <!-- /.user-block -->
       <!-- <div class="box-tools">
            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read">
                <i class="fa fa-circle-o"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div> -->


        <!-- /.box-tools -->
    </div>


    <!-- /.box-header -->
    <div class="box-header with-border">
        <h3 class="box-title" style="padding-top: 10px"><b>{{ 'title' | trans }}:</b> {{ item.title }}</h3>
    </div>
     <div class="box-header ">
         <h3 class="box-title" style="padding-top: 10px"><b>{{ 'seen_by' | trans }} </b></h3>
    </div>
    <div class="box-body">
        {% if views | length == 0 %}
        <div class="callout callout-warning">
            {{ 'message_not_seen_yet_anyone' | trans }}
        </div>
        {% else %}
        <table class="table table-bordered  table-striped">
            <thead>
            <tr>
                <th>{{ 'num_employe' | trans }}</th>
                <th>{{ 'user' | trans }}</th>
                <th>{{ 'photo' | trans }}</th>
                <th>{{ 'first_name' | trans }}</th>

                <th>{{ 'workgroup' | trans }}</th>
                <th>{{ 'date_first_view' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in views %}
                <tr>
                    <td>{{ item.user.employeeId }}</td>
                    <td>{{ item.user.username }}</td>
                    <td><img src="{{ asset(profiles_rel_directories ~ item.user.avatar) }}" alt=""
                             class="img-rounded img-bordered-sm img-avatar-sm"></td>
                    <td>

                        {{ item.user.fullName }}

                    </td>

                    <td>{{ item.user.department.name }}</td>
                    <td style="text-align: center">{{ item.viewAt | date("d/m/Y H:i") }}</td>
                </tr>
            {% endfor %}


            </tbody>
            <tfoot>
            <tr>
                <th>{{ 'num_employe' | trans }}</th>
                <th>{{ 'user' | trans }}</th>
                <th>{{ 'photo' | trans }}</th>
                <th>{{ 'first_name' | trans }}</th>
                <th>{{ 'workgroup' | trans }}</th>
                <th>{{ 'date_first_view' | trans }}</th>

            </tr>
            </tfoot>


        </table>
        {% endif %}
    </div>

    </div>
{% endblock %}

        {% block scripts %}
    <script type="application/javascript">
        $(document).on("removed-box", function(event, box,clickedElement){
            console.log("removed", box);
            var url = $("#home-btn").attr("href");
            window.location = url;
        });

    </script>

{% endblock %}