/*descriptive colors*/
$gray: #333333;
$clear: #ffffff;
$wildsand: #f5f5f5;
$trinidad: #e24109;/*functional colors*/
$message-icon--outgoing--color: #c41a16;
$brand: $trinidad;
$brand-dark: darken($brand, 10);/* define the theme color here*/
$theme-color: #a22323 ;
$theme-color-complement: #232323 ;
$theme-color-secondary:  #232323 ;
